@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap");

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  font-size: 60px;
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
  color: #5d9199;
  background-color: #a3e3ed;
}
